body {
    background-color: #e9f509;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #07d7ef;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
